.house {
  :global {
    .house-title {
      background-color: #eee;
      padding-left: 10px;
      .house-search {
        height: 45px;
        position: static;
        top: 0;
        padding-left: 0;
        .icon-map {
          font-size: 25px;
          color: #00ae66;
        }
      }
    }
  }
}
